<div class="card"style="width: 18rem;">
  <div class="mb-2 mt-2" >
    <i [class]="class"></i>
  </div>


  <div class="card-body  " >
    <h5 class="card-title">{{nome}}</h5>
    <p class="card-text"> Codigo: {{descricao}}</p>
    <p class="card-text"> Preço(USD): {{preco}}</p>
    <p class="card-text">Votos: {{votos}}</p>
    <button href="#" class="btn btn-primary mx-2" type="submit" [(ngModel)]="votos" (keyup.enter)="addVotes(id, votos)" >Vote Aqui!</button>
    <button href="" class="btn btn-primary " type="submit" (click)="removeVotos(id)" >Cancelar Voto!</button>
  </div>
