<div>

  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" target="_blank" href="https://github.com/LucasMelo59"><i class="fa-brands fa-github"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

        </div>
      </div>
    </nav>
  </header>
  <main class="main  bg-transparant"   >
  <section class="card">
      <router-outlet></router-outlet>
    </section>



  <footer>
    <div class="row">
      <div class="col">
        <a href="https://www.linkedin.com/in/lucas-melo-377029168/">
          <i  class="fa-brands fa-linkedin-in"></i>
        </a>
        <p class="copyright">&copy; copyright</p>
      </div>
    </div>

  </footer>

</main>

</div>

