
 <div class="container  " >
  <div class="row mb-2 mt-4 "  >

    <div  class="btn-group col-2 " role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" [routerLink]="['/moedas']"  name="btnradio" id="btnradio1" autocomplete="off" checked >
      <label class="btn btn-outline-primary" for="btnradio1">Cards</label>

      <input type="radio" class="btn-check" [routerLink]="['/tabela']"  name="btnradio" id="btnradio3" autocomplete="off"   >
      <label class="btn btn-outline-primary" for="btnradio3">Table</label>
    </div>

  </div>
 </div>

  <div class="container  " >
    <div class="row mb-2  "  >
      <div class="col-sm-12 col-md-6 col-lg-3 mb-2 mt-3 text-center" *ngFor="let moedas of moedas"    >

        <div class="card ">
        <div [routerLink]="['/buscar']" style="cursor: pointer;" >
          <div class="card-body "  >
           <i [class]="moedas.src" class="mb-2 mt-2" > </i>
           <h5 class="card-title">{{moedas.nome}}</h5>
           <br>
           <p>Clique aqui e conheça mais sobre está moeda</p>
          </div >
        </div>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item" > Código: {{moedas.descricao}} </li>
            <li class="list-group-item" > Preço: {{moedas.preco}} </li>
            <li class="list-group-item" > Votos: {{moedas.votos}} </li>
          </ul>

          <div class="card-body" >

            <button href="#" class="btn btn-primary mb-2 mx-2"  type="submit" (click)="addVotos(moedas, moedas.id)"  >Vote Aqui!</button>
            <button href="#" class="btn btn-danger mx-2" type="submit" (click)="downVotos(moedas, moedas.id)"  >Remova seu voto!</button>
          </div>
      </div>
    </div>
  </div>
</div>

