
<div class="container text-center">
  <div class="row mb-2">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-2" >
      <div class="card" style="width: rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
      <div class="card" style="width: 38rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link"><i class="bi bi-eraser"></i></a>
          <a href="#" class="card-link"><i class="bi bi-star"></i></a>
        </div>
      </div>
      </div>
    </div>
  </div>



